<html lang="en" ng-app="LedServer">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="AppCtrl">
<md-toolbar layout="row" ng-attr-style="background: rgb({{color.red}},{{color.green}},{{color.blue}})">
    <div class="md-toolbar-tools">
        <h1>LED Control Panel</h1>
    </div>
</md-toolbar>
<div layout="row" layout-sm="column" layout-wrap flex>
    <md-content layout="column" flex="50" flex-sm="100">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Status</h2>
                <md-switch ng-model="status.power" aria-label="Flash LEDs">
                    Power On
                </md-switch>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content layout="column" flex="50" flex-sm="100">
        <md-card flex>
            <md-card-content id="container-colors">
                <h2 class="md-title">
                    Color
                </h2>
                <div layout>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">R</span>
                    </div>
                    <md-slider flex ng-model="color.red" ng-change="sendColor(color.red, color.green, color.blue)" min="0" max="255" aria-label="Red Slider" id="red-slider" class>
                    </md-slider>
                </div>
                <div layout>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">G</span>
                    </div>
                    <md-slider flex ng-model="color.green" ng-change="sendColor(color.red, color.green, color.blue)" min="0" max="255" aria-label="Green Slider" id="green-slider" class="md-accent">
                    </md-slider>
                </div>
                <div layout>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">B</span>
                    </div>
                    <md-slider flex ng-model="color.blue" ng-change="sendColor(color.red, color.green, color.blue)" min="0" max="255" aria-label="Blue Slider" class="md-primary">
                    </md-slider>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content layout="column" flex="50" flex-sm="100">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Options</h2>
                <md-switch ng-model="options.flash" aria-label="Flash LEDs" ng-change="sendCommand('FLASH', options.flash)">
                    Flash
                </md-switch>
                <md-switch ng-model="options.fade" aria-label="Fade LEDs" ng-change="sendCommand('FADE', options.fade)">
                    Fade
                </md-switch>
                <md-switch ng-model="options.strobe" aria-label="Strobe LEDs" ng-change="sendCommand('STROBE', options.strobe)">
                    Strobe
                </md-switch>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content layout="column" flex="50" flex-sm="100">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Statistics</h2>
                <md-list>
                    <md-list-item class="md-3-line">
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-content>
</div>
<!-- Angular Material Dependencies -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="node_modules/angular-websocket/angular-websocket.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>